* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: "Lato", sans-serif;
    background-color: #fff;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: fixed;
    height: 100vh;
}

.sidebar h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 50px 50px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.profile-pic img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.sidebar nav ul li {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
}

.sidebar nav ul li a:hover {
    color: #8a2be2;
}

.sub-list {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.content {
    flex-grow: 1;
    padding: 40px;
    margin-left: 270px;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hello {
    font-size: 60px;
    font-weight: bold;
}

.contact-button {
    display: inline-block;
    background: #8a2be2;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 0px;
    transition: 0.3s;
}

.contact-button:hover {
    background: #6d1fb8;
}